h2{
    color :white;
    text-shadow: 0 0 3px  black  , 0 0 25px #00FFFF  , 0 0 5px darkblue   ;
}

.box-shadow{

    box-shadow: 5px 5px red, 10px 10px green , 15px 15px blue ;
    width: 100px;
    height: 100px;
    border: 1px solid black;

}


